.cohort {
  height: 500px;
  width: 500px;
  background-image: url('../public/images/WhatsApp\ Image\ 2022-12-06\ at\ 6.36.00\ PM.jpeg');
  translate: 100% 20%;
}

#majd {
  position: absolute;
  top: 320px;
  left: 90px;
  border-radius: 50%;
  padding: 10px;

}

#majd:active {
  transform: scale(1.2);
}


#hasan {
  position: absolute;
  top: 290px;
  left: 20px;
  border-radius: 50%;
  padding: 10px;
}

#jameel {
  position: absolute;
  top: 290px;
  left: -10px;
  border-radius: 50%;
  padding: 10px;
}

#rahaf {
  position: absolute;
  top: 330px;
  left: 50px;
  border-radius: 50%;
  padding: 10px;
}
#qassem {
  position: absolute;
  top: 290px;
  left: 70px;
  border-radius: 50%;
  padding: 10px;
}